.footer {
	background-color: $color-dark-gray;
	padding: 15px 0 20px;
	text-align: center;
}	

	.footer__social-link {
		height: 25px;
		width: 25px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		font-size: 0;
		display: inline-block;
		vertical-align: bottom;

		&:not(:last-child) {
			margin-right: 15px;
		}

		&.linkedin {
			background-image: url(/img/icon-linkedin.png);
		}

		&.strava {
			background-image: url(/img/strava.png);
			width: 20px;
			height: 29px;
			transform: translateY(2px);
		}
		
		svg {
			max-width: 100%;
			max-height: 100%;
		}
	}