.hero {
	height: calc(100vh - 50px);
	margin-top: 50px;
	background-image: url(img/bg.jpg);
	background-size: cover;
	background-position: top left;
	position: relative;

	@include responsive(small) {
		height: calc(100vh - 70px);
		margin-top: 70px;
	}
}

	.hero__content {
		color: $color-white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		padding: 0 25px;
		width: 80%;

		@include responsive(medium) {
			max-width: 400px;
		}
		.btn {
			margin: 25px 0;
		}
	}

		.hero__title {
			text-transform: none;
		}

		.hero__social-link {
			height: 25px;
			width: 25px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			font-size: 0;
			display: inline-block;
			vertical-align: bottom;

			&:not(:last-child) {
				margin-right: 15px;
			}

			&.linkedin {
				background-image: url(/img/icon-linkedin.png);
			}

			&.strava {
				background-image: url(/img/strava.png);
				width: 20px;
				height: 29px;
				transform: translateY(2px);
			}
			
			svg {
				max-width: 100%;
				max-height: 100%;
			}
		}
