html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

.h1, .h2, .hero__title p:not([class]) {
  font-family: "Montserrat", "Helvetica", sans-serif;
  line-height: 1.4em;
  letter-spacing: 1px;
  text-transform: uppercase; }

.h1 {
  font-size: 22px; }

.h2, .hero__title p:not([class]) {
  font-size: 18px; }

p:not([class]), .page-header p {
  font-family: "Merriweather", "Georgia", "Times New Roman", serif;
  line-height: 1.5em;
  font-size: 14px; }

a:not([class]) {
  color: #ff6600;
  text-decoration: none;
  transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1); }
  a:not([class]):hover {
    text-decoration: underline;
    color: #cc5200; }

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font: 14px "Montserrat", "Helvetica", sans-serif;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 0;
  outline: none;
  overflow: hidden;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  vertical-align: middle;
  zoom: 1; }

.btn--outline-orange {
  border-color: #ff6600;
  color: #ff6600; }
  .btn--outline-orange:hover {
    border-color: #fff;
    color: #fff; }
  .btn--outline-orange.to-black:hover {
    border-color: #000;
    color: #000; }

.btn--outline-black {
  border-color: #000;
  color: #000; }
  .btn--outline-black:hover {
    background-color: #e9e9e9; }

.btn--outline-white, .portfolio-piece:nth-child(3n+1) .btn {
  border-color: #fff;
  color: #fff; }
  .btn--outline-white:hover, .portfolio-piece:nth-child(3n+1) .btn:hover {
    background-color: #707070; }

.btn--no-outline {
  border: 0;
  color: #000;
  text-decoration: underline; }
  .btn--no-outline:hover {
    color: #b7b7b7; }

*,
*:before,
*:after {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

body {
  padding-top: 50px; }
  @media only screen and (min-width: 640px) {
    body {
      padding-top: 70px; } }

.container {
  width: calc(100% - 30px);
  max-width: 1040px;
  padding: 0 15px;
  margin: 0 auto; }
  @media only screen and (min-width: 1024px) {
    .container {
      padding: 0 50px;
      width: calc(100% - 100px); } }

.container--wide {
  max-width: 1170px; }

.site-blocker {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  pointer-events: none; }
  .site-blocker.is-open {
    opacity: 0.5;
    z-index: 100;
    pointer-events: unset; }
    @media only screen and (min-width: 640px) {
      .site-blocker.is-open {
        display: none; } }

.page-content {
  min-height: calc(100vh - 131px); }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.contact-form {
  text-align: center;
  padding-bottom: 25px; }
  .contact-form input:not([type=submit]), .contact-form textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    margin: 0 auto 15px;
    min-height: 20px;
    max-width: 90%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #b7b7b7;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    font-size: 14px;
    font-family: "Merriweather", "Georgia", "Times New Roman", serif;
    color: #707070; }
    @media only screen and (min-width: 720px) {
      .contact-form input:not([type=submit]), .contact-form textarea {
        max-width: 500px; } }
    .contact-form input:not([type=submit])::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {
      font-family: "Merriweather", "Georgia", "Times New Roman", serif;
      font-size: 14px;
      font-style: normal;
      color: #707070; }
      @media only screen and (min-width: 720px) {
        .contact-form input:not([type=submit])::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {
          font-size: 14px; } }
    .contact-form input:not([type=submit]):-moz-placeholder, .contact-form textarea:-moz-placeholder {
      /* Firefox 18- */
      font-family: "Merriweather", "Georgia", "Times New Roman", serif;
      font-size: 14px;
      font-style: normal;
      color: #707070; }
      @media only screen and (min-width: 720px) {
        .contact-form input:not([type=submit]):-moz-placeholder, .contact-form textarea:-moz-placeholder {
          font-size: 14px; } }
    .contact-form input:not([type=submit])::-moz-placeholder, .contact-form textarea::-moz-placeholder {
      /* Firefox 19+ */
      font-family: "Merriweather", "Georgia", "Times New Roman", serif;
      font-size: 14px;
      font-style: normal;
      color: #707070; }
      @media only screen and (min-width: 720px) {
        .contact-form input:not([type=submit])::-moz-placeholder, .contact-form textarea::-moz-placeholder {
          font-size: 14px; } }
    .contact-form input:not([type=submit]):-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder {
      font-family: "Merriweather", "Georgia", "Times New Roman", serif;
      font-size: 14px;
      font-style: normal;
      color: #707070; }
      @media only screen and (min-width: 720px) {
        .contact-form input:not([type=submit]):-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder {
          font-size: 14px; } }
    .contact-form input:not([type=submit]):focus, .contact-form input:not([type=submit]):active, .contact-form textarea:focus, .contact-form textarea:active {
      outline: 0;
      border-color: #707070; }
    .contact-form input:not([type=submit]).invalid, .contact-form textarea.invalid {
      border-color: red; }
  .contact-form textarea {
    min-height: 125px; }

.contact-form__description {
  padding: 0 0 50px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto; }

.contact-form__message p {
  margin-bottom: 20px !important;
  text-align: center !important; }

.contact-form__message.success p {
  color: green; }

.contact-form__message.error p {
  color: red; }

.contact-form__message.hidden {
  display: none; }

.footer {
  background-color: #707070;
  padding: 15px 0 20px;
  text-align: center; }

.footer__social-link {
  height: 25px;
  width: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;
  display: inline-block;
  vertical-align: bottom; }
  .footer__social-link:not(:last-child) {
    margin-right: 15px; }
  .footer__social-link.linkedin {
    background-image: url(/img/icon-linkedin.png); }
  .footer__social-link.strava {
    background-image: url(/img/strava.png);
    width: 20px;
    height: 29px;
    transform: translateY(2px); }
  .footer__social-link svg {
    max-width: 100%;
    max-height: 100%; }

.header {
  background-color: #fff;
  border-bottom: 1px solid #b7b7b7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 500; }
  .header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px; }
    @media only screen and (min-width: 640px) {
      .header > .container {
        height: 70px; } }
  .header.mobile-menu-open {
    top: 40px; }

.header__logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #ff6600;
  font-weight: bold;
  font-family: "Montserrat", "Helvetica", sans-serif;
  line-height: 30px;
  text-decoration: none; }

.header__logo-img {
  width: 25px;
  margin-right: 5px; }

.header__menu-icon {
  float: right;
  padding: 17px 0 17px 25px;
  cursor: pointer; }
  .header__menu-icon img {
    height: 16px; }
  @media only screen and (min-width: 640px) {
    .header__menu-icon {
      display: none; } }

.header__nav {
  position: fixed;
  width: 100%;
  height: 40px;
  top: -50px;
  left: 0;
  background-color: #ff6600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0; }
  .mobile-menu-open .header__nav {
    top: 0;
    opacity: 1; }
  @media only screen and (min-width: 640px) {
    .header__nav {
      position: relative;
      width: auto;
      height: auto;
      background-color: #fff;
      top: 0;
      opacity: 1; } }
  .header__nav ul {
    list-style-type: none;
    text-align: center; }
    .header__nav ul li {
      display: inline-block; }
      .header__nav ul li:not(:last-child) {
        margin-right: 40px; }
        @media only screen and (min-width: 1024px) {
          .header__nav ul li:not(:last-child) {
            margin-right: 60px; } }
      .header__nav ul li a {
        text-decoration: none;
        color: #fff;
        transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
        display: inline-block;
        line-height: 40px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: "Montserrat", "Helvetica", sans-serif;
        text-decoration: none !important;
        font-size: 14px; }
        @media only screen and (min-width: 640px) {
          .header__nav ul li a {
            color: #b7b7b7;
            line-height: 50px; } }
        .header__nav ul li a:hover {
          color: #d4d1d1; }
          @media only screen and (min-width: 640px) {
            .header__nav ul li a:hover {
              color: #000; } }

.hero {
  height: calc(100vh - 71px);
  background-size: cover;
  background-position: top left;
  position: relative; }

.hero__content {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 25px;
  width: 80%; }
  @media only screen and (min-width: 720px) {
    .hero__content {
      max-width: 400px; } }
  .hero__content .btn {
    margin: 25px 0; }

.hero__title {
  text-transform: none; }
  .hero__title p:not([class]) {
    text-transform: none; }

.hero__social-links {
  margin-top: 10px; }

.hero__social-link {
  height: 25px;
  width: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;
  display: inline-block;
  vertical-align: bottom; }
  .hero__social-link:nth-child(2) {
    margin: 0 25px 0 30px; }
  .hero__social-link img {
    max-height: 25px;
    max-width: 30px; }
  .hero__social-link:last-child img {
    max-height: 35px;
    transform: translateY(-3px); }

.loading-page {
  min-height: calc(100vh - 131px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none; }

.page-content__content {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1); }

.page-content--loading .page-content__content {
  opacity: 0; }

.page-content--loading .loading-page {
  opacity: 0.9; }

@-webkit-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0; }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1; }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0; } }

@-webkit-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0; }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1; }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0; } }

@-moz-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0; }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1; }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0; } }

@-ms-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0; }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1; }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0; } }

@-moz-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0; }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1; }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0; } }

@-webkit-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0; }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1; }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0; } }

@-o-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0; }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1; }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0; } }

@keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0; }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1; }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0; } }

.uil-ripple-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
  transform: translate(-12px, -27px) scale(1); }

.uil-ripple-css div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  width: 0;
  height: 0;
  opacity: 0;
  border-radius: 50%;
  border-width: 12px;
  border-style: solid;
  -ms-animation: uil-ripple 2s ease-out infinite;
  -moz-animation: uil-ripple 2s ease-out infinite;
  -webkit-animation: uil-ripple 2s ease-out infinite;
  -o-animation: uil-ripple 2s ease-out infinite;
  animation: uil-ripple 2s ease-out infinite; }

.uil-ripple-css div:nth-of-type(1) {
  border-color: #ff6600; }

.uil-ripple-css div:nth-of-type(2) {
  border-color: #666;
  -ms-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s; }

.page-header {
  padding: 50px 0 20px;
  text-align: center; }
  @media only screen and (min-width: 720px) {
    .page-header {
      padding: 75px 0 20px; } }
  .page-header p {
    width: 90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1.5em; }
    @media only screen and (min-width: 640px) {
      .page-header p {
        text-align: left; } }
    .page-header p:last-of-type {
      margin-bottom: 45px; }

.page-header__lead-img {
  max-width: 75px;
  margin-bottom: 20px;
  max-height: 100px; }

.page-header__title {
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 45px;
  text-align: center;
  font-weight: bold; }

.portfolio-piece > .container {
  display: flex;
  flex-wrap: wrap; }
  @media screen and (min-width: 800px) {
    .portfolio-piece > .container {
      flex-wrap: nowrap; } }

.portfolio-piece:nth-child(3n+3) {
  background-color: #e9e9e9;
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='28' viewBox='0 0 56 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M56 26c-2.813 0-5.456.726-7.752 2H56v-2zm-26 2h4.087C38.707 20.783 46.795 16 56 16v-2c-.672 0-1.339.024-1.999.07L54 14a2 2 0 0 1 2-2v-2a4 4 0 0 0-3.98 3.602 28.087 28.087 0 0 0-2.793-3.862A7.994 7.994 0 0 1 56 6V4a9.988 9.988 0 0 0-8.17 4.232 28.156 28.156 0 0 0-3.03-2.634A13.979 13.979 0 0 1 56 0h-7.752a16.078 16.078 0 0 0-5.09 4.454 27.941 27.941 0 0 0-3.536-1.936c.63-.896 1.33-1.738 2.095-2.518H39.03c-.46.557-.893 1.137-1.297 1.737A27.787 27.787 0 0 0 33.723.585c.12-.196.24-.392.364-.585H30l-.001.07A28.406 28.406 0 0 0 26 .07L26 0h-4.087c.124.193.245.389.364.585a27.787 27.787 0 0 0-4.009 1.152c-.404-.6-.837-1.18-1.297-1.737h-2.688c.764.78 1.466 1.622 2.095 2.518-1.23.562-2.41 1.21-3.536 1.936A16.078 16.078 0 0 0 7.752 0H0c4.58 0 8.645 2.199 11.2 5.598a28.156 28.156 0 0 0-3.03 2.634A9.988 9.988 0 0 0 0 4v2a7.994 7.994 0 0 1 6.773 3.74 28.087 28.087 0 0 0-2.793 3.862A4 4 0 0 0 0 10v2a2 2 0 0 1 1.999 2.07C1.339 14.024.672 14 0 14v2c9.205 0 17.292 4.783 21.913 12H26a2 2 0 1 1 4 0zM7.752 28C5.456 26.726 2.812 26 0 26v2h7.752zM56 20c-6.832 0-12.936 3.114-16.971 8h2.688A19.94 19.94 0 0 1 56 22v-2zm-39.029 8C12.936 23.114 6.831 20 0 20v2a19.94 19.94 0 0 1 14.283 6h2.688zm15.01-.398a28.087 28.087 0 0 1 2.792-3.862A7.994 7.994 0 0 0 28 20a7.994 7.994 0 0 0-6.773 3.74 28.087 28.087 0 0 1 2.793 3.862 4 4 0 0 1 7.96 0zm14.287-11.865C42.318 9.864 35.61 6 28 6c-7.61 0-14.318 3.864-18.268 9.737a27.787 27.787 0 0 0-4.009-1.152C10.275 7.043 18.548 2 28 2c9.452 0 17.725 5.043 22.277 12.585a27.787 27.787 0 0 0-4.009 1.152zm-5.426 2.717a27.941 27.941 0 0 1 3.536-1.936C40.76 11.367 34.773 8 28 8s-12.76 3.367-16.378 8.518c1.23.562 2.41 1.21 3.536 1.936C18.075 14.537 22.741 12 28 12s9.925 2.537 12.842 6.454zm-4.672 3.778a28.156 28.156 0 0 1 3.03-2.634A13.979 13.979 0 0 0 28 14c-4.58 0-8.645 2.199-11.2 5.598a28.156 28.156 0 0 1 3.03 2.634A9.988 9.988 0 0 1 28 18a9.988 9.988 0 0 1 8.17 4.232z' fill='%23b7b7b7' fill-opacity='0.21' fill-rule='evenodd'/%3E%3C/svg%3E"); }

.portfolio-piece:nth-child(3n+1) {
  background-color: #ff6600;
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='28' viewBox='0 0 56 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M56 26c-2.813 0-5.456.726-7.752 2H56v-2zm-26 2h4.087C38.707 20.783 46.795 16 56 16v-2c-.672 0-1.339.024-1.999.07L54 14a2 2 0 0 1 2-2v-2a4 4 0 0 0-3.98 3.602 28.087 28.087 0 0 0-2.793-3.862A7.994 7.994 0 0 1 56 6V4a9.988 9.988 0 0 0-8.17 4.232 28.156 28.156 0 0 0-3.03-2.634A13.979 13.979 0 0 1 56 0h-7.752a16.078 16.078 0 0 0-5.09 4.454 27.941 27.941 0 0 0-3.536-1.936c.63-.896 1.33-1.738 2.095-2.518H39.03c-.46.557-.893 1.137-1.297 1.737A27.787 27.787 0 0 0 33.723.585c.12-.196.24-.392.364-.585H30l-.001.07A28.406 28.406 0 0 0 26 .07L26 0h-4.087c.124.193.245.389.364.585a27.787 27.787 0 0 0-4.009 1.152c-.404-.6-.837-1.18-1.297-1.737h-2.688c.764.78 1.466 1.622 2.095 2.518-1.23.562-2.41 1.21-3.536 1.936A16.078 16.078 0 0 0 7.752 0H0c4.58 0 8.645 2.199 11.2 5.598a28.156 28.156 0 0 0-3.03 2.634A9.988 9.988 0 0 0 0 4v2a7.994 7.994 0 0 1 6.773 3.74 28.087 28.087 0 0 0-2.793 3.862A4 4 0 0 0 0 10v2a2 2 0 0 1 1.999 2.07C1.339 14.024.672 14 0 14v2c9.205 0 17.292 4.783 21.913 12H26a2 2 0 1 1 4 0zM7.752 28C5.456 26.726 2.812 26 0 26v2h7.752zM56 20c-6.832 0-12.936 3.114-16.971 8h2.688A19.94 19.94 0 0 1 56 22v-2zm-39.029 8C12.936 23.114 6.831 20 0 20v2a19.94 19.94 0 0 1 14.283 6h2.688zm15.01-.398a28.087 28.087 0 0 1 2.792-3.862A7.994 7.994 0 0 0 28 20a7.994 7.994 0 0 0-6.773 3.74 28.087 28.087 0 0 1 2.793 3.862 4 4 0 0 1 7.96 0zm14.287-11.865C42.318 9.864 35.61 6 28 6c-7.61 0-14.318 3.864-18.268 9.737a27.787 27.787 0 0 0-4.009-1.152C10.275 7.043 18.548 2 28 2c9.452 0 17.725 5.043 22.277 12.585a27.787 27.787 0 0 0-4.009 1.152zm-5.426 2.717a27.941 27.941 0 0 1 3.536-1.936C40.76 11.367 34.773 8 28 8s-12.76 3.367-16.378 8.518c1.23.562 2.41 1.21 3.536 1.936C18.075 14.537 22.741 12 28 12s9.925 2.537 12.842 6.454zm-4.672 3.778a28.156 28.156 0 0 1 3.03-2.634A13.979 13.979 0 0 0 28 14c-4.58 0-8.645 2.199-11.2 5.598a28.156 28.156 0 0 1 3.03 2.634A9.988 9.988 0 0 1 28 18a9.988 9.988 0 0 1 8.17 4.232z' fill='%23ea9959' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  color: #fff; }

.portfolio-piece__content {
  padding: 50px 0 0;
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 800px) {
    .portfolio-piece__content {
      width: 40%;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      padding: 25px 50px 25px 25px;
      text-align: left;
      margin: 0;
      max-width: unset; } }
  @media screen and (min-width: 900px) {
    .portfolio-piece__content {
      width: 50%; } }
  .portfolio-piece__content h1 {
    width: 100%;
    margin-bottom: 15px; }
  @media screen and (min-width: 800px) {
    .portfolio-piece:nth-child(2n+2) .portfolio-piece__content {
      order: 2;
      padding: 25px 25px 25px 50px; } }

.portfolio-piece__description {
  margin-bottom: 20px; }

.portfolio-piece__img {
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center; }
  @media screen and (min-width: 800px) {
    .portfolio-piece__img {
      padding-top: 100px;
      align-content: flex-end;
      width: 60%; } }
  .portfolio-piece__img img {
    vertical-align: bottom;
    max-width: 100%;
    align-self: flex-end; }
  @media screen and (min-width: 800px) {
    .portfolio-piece:nth-child(2n+2) .portfolio-piece__img {
      order: 1; } }

.split-image-text {
  padding: 50px 0; }
  .split-image-text > .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    @media only screen and (min-width: 640px) {
      .split-image-text > .container {
        flex-wrap: nowrap; } }
  @media only screen and (min-width: 640px) {
    .split-image-text.split-image-text--anchor-true .container {
      flex-wrap: wrap; } }
  @media only screen and (min-width: 1024px) {
    .split-image-text.split-image-text--anchor-true .container {
      flex-wrap: nowrap; } }
  .split-image-text.split-image-text--bg-orange {
    background-color: rgba(255, 102, 0, 0.75);
    color: #fff; }
  .split-image-text.split-image-text--bg-gray {
    background-color: #e9e9e9;
    background-image: url("data:image/svg+xml,%3Csvg width='56' height='28' viewBox='0 0 56 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M56 26c-2.813 0-5.456.726-7.752 2H56v-2zm-26 2h4.087C38.707 20.783 46.795 16 56 16v-2c-.672 0-1.339.024-1.999.07L54 14a2 2 0 0 1 2-2v-2a4 4 0 0 0-3.98 3.602 28.087 28.087 0 0 0-2.793-3.862A7.994 7.994 0 0 1 56 6V4a9.988 9.988 0 0 0-8.17 4.232 28.156 28.156 0 0 0-3.03-2.634A13.979 13.979 0 0 1 56 0h-7.752a16.078 16.078 0 0 0-5.09 4.454 27.941 27.941 0 0 0-3.536-1.936c.63-.896 1.33-1.738 2.095-2.518H39.03c-.46.557-.893 1.137-1.297 1.737A27.787 27.787 0 0 0 33.723.585c.12-.196.24-.392.364-.585H30l-.001.07A28.406 28.406 0 0 0 26 .07L26 0h-4.087c.124.193.245.389.364.585a27.787 27.787 0 0 0-4.009 1.152c-.404-.6-.837-1.18-1.297-1.737h-2.688c.764.78 1.466 1.622 2.095 2.518-1.23.562-2.41 1.21-3.536 1.936A16.078 16.078 0 0 0 7.752 0H0c4.58 0 8.645 2.199 11.2 5.598a28.156 28.156 0 0 0-3.03 2.634A9.988 9.988 0 0 0 0 4v2a7.994 7.994 0 0 1 6.773 3.74 28.087 28.087 0 0 0-2.793 3.862A4 4 0 0 0 0 10v2a2 2 0 0 1 1.999 2.07C1.339 14.024.672 14 0 14v2c9.205 0 17.292 4.783 21.913 12H26a2 2 0 1 1 4 0zM7.752 28C5.456 26.726 2.812 26 0 26v2h7.752zM56 20c-6.832 0-12.936 3.114-16.971 8h2.688A19.94 19.94 0 0 1 56 22v-2zm-39.029 8C12.936 23.114 6.831 20 0 20v2a19.94 19.94 0 0 1 14.283 6h2.688zm15.01-.398a28.087 28.087 0 0 1 2.792-3.862A7.994 7.994 0 0 0 28 20a7.994 7.994 0 0 0-6.773 3.74 28.087 28.087 0 0 1 2.793 3.862 4 4 0 0 1 7.96 0zm14.287-11.865C42.318 9.864 35.61 6 28 6c-7.61 0-14.318 3.864-18.268 9.737a27.787 27.787 0 0 0-4.009-1.152C10.275 7.043 18.548 2 28 2c9.452 0 17.725 5.043 22.277 12.585a27.787 27.787 0 0 0-4.009 1.152zm-5.426 2.717a27.941 27.941 0 0 1 3.536-1.936C40.76 11.367 34.773 8 28 8s-12.76 3.367-16.378 8.518c1.23.562 2.41 1.21 3.536 1.936C18.075 14.537 22.741 12 28 12s9.925 2.537 12.842 6.454zm-4.672 3.778a28.156 28.156 0 0 1 3.03-2.634A13.979 13.979 0 0 0 28 14c-4.58 0-8.645 2.199-11.2 5.598a28.156 28.156 0 0 1 3.03 2.634A9.988 9.988 0 0 1 28 18a9.988 9.988 0 0 1 8.17 4.232z' fill='%23b7b7b7' fill-opacity='0.21' fill-rule='evenodd'/%3E%3C/svg%3E"); }

.split-image-text__img {
  width: 100%;
  text-align: center; }
  @media only screen and (min-width: 640px) {
    .split-image-text__img {
      width: auto;
      text-align: unset;
      padding: 20px 0; } }
  @media only screen and (min-width: 640px) {
    .split-image-text--image-right .split-image-text__img {
      order: 2; } }
  .split-image-text__img img {
    width: 100%;
    max-width: 220px; }
  @media only screen and (min-width: 640px) {
    .split-image-text--anchor-true .split-image-text__img {
      width: 100%;
      text-align: center;
      order: 2; } }
  @media only screen and (min-width: 1024px) {
    .split-image-text--anchor-true .split-image-text__img {
      width: auto;
      text-align: unset;
      padding: 20px 0; } }
  .split-image-text--anchor-true .split-image-text__img img {
    max-width: 100%; }

.split-image-text__text {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  text-align: center; }
  @media only screen and (min-width: 640px) {
    .split-image-text__text {
      width: auto;
      text-align: left;
      padding: 20px 50px; } }
  @media only screen and (min-width: 640px) {
    .split-image-text--image-right .split-image-text__text {
      order: 1; } }
  .split-image-text--anchor-true .split-image-text__text {
    order: 1; }
    @media only screen and (min-width: 640px) {
      .split-image-text--anchor-true .split-image-text__text {
        width: 100%;
        max-width: 400px;
        padding: 20px;
        text-align: center; } }
    @media only screen and (min-width: 1024px) {
      .split-image-text--anchor-true .split-image-text__text {
        width: auto;
        text-align: left;
        padding: 20px 50px;
        order: unset; } }

.split-image-text__title {
  text-transform: none;
  margin-bottom: 15px;
  letter-spacing: 0; }
