// colors
$color-white: #fff;
$color-black: #000;
$color-orange: #ff6600;
$color-gray: #b7b7b7;
$color-light-gray: #d4d1d1;
$color-light: #e9e9e9;
$color-lighter: #f4f4f4;
$color-dark-gray: #707070;

// fonts
$font-heading: 'Montserrat', 'Helvetica', sans-serif;
$font-body: 'Merriweather', 'Georgia', 'Times New Roman', serif;

$transition-ease: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$transition-speed: 0.3s;
$transition-speed-fast: 0.1s;
$transition-speed-slow: 0.5s;
$transition-delay: 0.1s;

$breakpoints: (
  small: 640px,
  medium: 720px,
  large: 1024px,
  x-large: 1270px
);